@import '~/node_modules/bootstrap/scss/bootstrap.scss';

#app {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }

 :root{
  --small-textColor: #BCBCBC;

}


p{
  margin-bottom: 4rem;
  margin-top: 3rem;
  line-height: 1.8rem;
}

